/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Chivo', sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Bree Serif', serif;
}

h1 {
    /*color: #2196F3;*/
    color: #139EF2;
    font-size: 2.8em;
}

h2 {
    color: #FF9800;
    font-size: 2em;
}

h3 {
    color: #ffa938;
    font-size: 1.5em;
    /*margin: 0;*/
    margin-bottom: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

header {
    background-color: #212121;
    color: #fff;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header > p {
    padding: 0 15px;
    text-align: left;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin-right: 5px;
}

/* Style for the main section of the website */
main {
    background-color: #444;
    color: #fff;
    text-align: left;

}

main > .main-title {
    background-color: #777;
    padding: 5px 10px;
    text-align: center;
}

main > .main-content {
    padding: 0 10px;
}

main > section > p {
    margin-top: 0;
}

/* Style for the footer */
footer {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

/* Style for social media icons */
footer a {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}

footer a i {
    font-size: 1.8em;
    transition: color 0.3s;
}

/* Change icon color on hover for each social media */
footer a i:hover.fab.fa-github {
    color: #171515; /* GitHub's color */
}

footer a i:hover.fab.fa-linkedin {
    color: #0072b1; /* LinkedIn's color */
}

footer a i:hover.fab.fa-twitter {
    color: #26a7de; /* Twitter's color */
}

/* Container for name and icons */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Margin between name and icons */
.footer-content p {
    margin-right: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    header > p {
        text-align: center;
    }

    .header-content {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .header-content > h1 {
        margin: 0;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

