body {
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-size: 3.5em;
    text-align: center;
    color: dodgerblue;
}

h2 {
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-size: 2em;
    color: orange;
}
