body {
  font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-size: 3.5em;
  text-align: center;
  color: dodgerblue;
}

h2 {
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
  font-size: 2em;
  color: orange;
}

div > p.para1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#container {
  width: 600px;
  height: 300px;
  background-color: #565554;
  position: relative;
}

#box {
  width: 100px;
  height: 100px;
  background-color: #2e86ab;
  position: absolute;
}
